*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background:#FFF;
}
.background-img{
    background-image: url(imgs/background.png);
    width: 100%;
    height: 115vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    background: rgba(223, 182, 178, 0.40);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 12px;
    gap: 152px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
}
.logo{
    width: 115px;
    height: 108px;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 40px;
}
.text-1{
    color: #998199;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.371px;
    text-decoration: none;
}
.text-2{
    color: #180018;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.371px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}
.text-2:hover{
    color: #998199;
}
.button-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.button{
    display: flex;
    width: 150px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #824D69;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.371px;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button:hover{
    background: #61334b;
    transform: scale(1.1);
}
.button-2{
    display: flex;
    width: 173px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #824D69;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.371px;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-2:hover{
    background: #61334b;
    transform: scale(1.1);
}
.box-title{
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-bottom: 212px;
}
.title{
    color: #532859;
    text-align: center;
    font-family: "Agbalumo";
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.371px;
}
.sub-title{
    color: #180018;
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.button-3{
    display: flex;
    width: 210px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #824D69;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.371px;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-3:hover{
    background: #61334b;
    transform: scale(1.1);
}
.section-2{
    width: 100%;
    height: 817px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.line-box{
    width: 1120px;
    height: 514px;
    border-radius: 20px;
    border: 4px solid #824D69;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box{
    display: flex;
    width: 971px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
}
.title-box-2{
    display: flex;
    width: 543px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.title-2{
    color: #532859;
    text-align: center;
    font-family: "ADLaM Display";
    font-size: 37px;
    font-weight: 400;
    line-height: 41.6px;
}
.sub-2{
    color: #180018;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    letter-spacing: -0.312px;
}
.cards-container {
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}
  
.bullying-card{
    width: 305px;
    height: 175px;
    border-radius: 10px;
    background: #824D69;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-card{
    display: flex;
    width: 251px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
  
.bullying-card h3 {
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
  
.bullying-card p {
    color: #e9e9e9;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.reg{
    width: 100%;
    height: 95px;
    border: 1px solid #F3E8FF;
    background: linear-gradient(90deg, #FAF5FF 0%, #EFF6FF 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.reg-text{
    color: #180018;
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    line-height: 27.2px;
    letter-spacing: -0.312px;
}
.section-3{
    width: 100%;
    height: 843px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.line-box-2{
    width: 1120px;
    height: 514px;
    border-radius: 20px;
    border: 4px solid #2E1154;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box-2{
    display: flex;
    width: 971px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
}
.title-box-3{
    display: flex;
    width: 543px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.title-3{
    color: #532859;
    text-align: center;
    font-family: "ADLaM Display";
    font-size: 37px;
    font-weight: 400;
    line-height: 41.6px;
}
.sub-3{
    color: #180018;
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
    letter-spacing: -0.312px;
}
.cards-container-2{
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}
.bullying-card-2{
    width: 305px;
    height: 175px;
    border-radius: 10px;
    background: #2E1154;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-card-2{
    display: flex;
    width: 251px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
  
.bullying-card-2 h4 {
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
  
.bullying-card-2 p {
    color: #e9e9e9;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.reg-2{
    display: flex;
    width: 1112px;
    padding: 22.39px 63.589px 22.541px 63px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 19.857px;
    border-left: 4.964px solid #824D69;
    background: #FFF;
    box-shadow: 3px 4px 8.1px -1.241px rgba(0, 0, 0, 0.30);
}
.reg-text-2{
    color: #101828;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 600;
    line-height: 33.757px;
    letter-spacing: -0.388px;
}
.reg-text-3{
    color: #101828;
    font-family: "Inter";
    font-size: 19px;
    font-weight: 400;
    line-height: 33.757px;
    letter-spacing: -0.388px;
}
.sec-4{
    background-image: url(imgs/back-2.png);
    width: 100%;
    height: 1157px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-box-3{
    display: flex;
    align-items: center;
    gap: 95px;
    flex-direction: row;
}
.text-box-1{
    display: flex;
    width: 455px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.text-box-1-up{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}
.text-box-1-down{
    display: flex;
    width: 338px;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}
.text-box-1-last{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.button-4{
    display: flex;
    width: 170px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    background: rgba(130, 77, 105, 0.78);
    color: #FFF;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}
.title-4{
    color: #101828;
    font-family: "ADLaM Display";
    font-size: 26px;
    font-weight: 400;
    line-height: 33.6px;
    letter-spacing: 0.07px;
}
.sub-4{
    color: #364153;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
}
.text-sec{
    display: flex;
    align-items: center;
    gap: 8px;
}
.text-4{
    color: #364153;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    line-height: 27.2px;
}
.dot{
    color: #532959;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: -0.312px;
}
.sub-5{
    color: #364153;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: -0.312px;
}
.stop-img{
    width: 380px;
    height: 440px;
}
