*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background:#FFF;
}
.background-img{
    background-image: url(imgs/background.png);
    width: 100%;
    height: 115vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-bar{
    background: rgba(223, 182, 178, 0.40);
    display: flex;
    width: 100%;
    align-items: center;
    padding: 12px;
    gap: 152px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
}
.logo{
    width: 115px;
    height: 108px;
}
.nav-text{
    display: flex;
    align-items: center;
    gap: 40px;
}
.text-1{
    color: #998199;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.371px;
    text-decoration: none;
}
.text-2{
    color: #180018;
    font-family: "Inter";
    font-size: 22px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.371px;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}
.text-2:hover{
    color: #998199;
}
.button-box{
    display: flex;
    align-items: center;
    gap: 20px;
}
.button{
    display: flex;
    width: 150px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #824D69;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.371px;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button:hover{
    background: #61334b;
    transform: scale(1.1);
}
.button-2{
    display: flex;
    width: 173px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #824D69;
    color: #FFF;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.371px;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-2:hover{
    background: #61334b;
    transform: scale(1.1);
}
.box-title{
    display: flex;
    width: 448px;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-bottom: 212px;
}
.title{
    color: #532859;
    text-align: center;
    font-family: "Agbalumo";
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.371px;
}
.sub-title{
    color: #180018;
    text-align: center;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}
.button-3{
    display: flex;
    width: 210px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #824D69;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.371px;
    transition: all 200ms ease-in-out;
    transition: transform 0.3s;
}
.button-3:hover{
    background: #61334b;
    transform: scale(1.1);
}